/Builds/

# Unity Garbage
/Project/Library/
/Project/Logs/
/Project/Packages/*/
/Project/Temp/
/Project/*.vsconfig
/Project/*.csproj
/Project/*.sln

# Unity Editor Layout
/Project/UserSettings/

# Visual Studio
.vs/
/Project/bin/
/Project/obj/

# Blender Autosave
*.blend1